# CONFIGURACIÓN DEL SERVIDOR
PORT=3000

# CREDENCIALES DE MERCADO PAGO MÉXICO (REEMPLAZAR CON TUS LLAVES REALES EN PRIVADO, SIN COMILLAS.)
MP_PUBLIC_KEY="TU_PUBLIC_KEY_AQUÍ"
MP_ACCESS_TOKEN="TU_ACCESS_TOKEN_AQUÍ"